/* CSS File to style HighLowGame UI elements */

/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: #4bacb8;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #b4ffff;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #b4ffff;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: #b4ffff;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: black;
     -fx-stroke: black;
}

/* Styling the buttons */
.jfx-button {
     -jfx-button-type: RAISED;
     -fx-background-color: #b4ffff;
     -fx-font-family: "Roboto Medium";
     -fx-text-fill: black;
     -fx-font-size: 17px;
}

/* Anti-aliasing is used to smooth the text */
.text {
	-fx-font-smoothing-type: gray;
}

/* Styling the toggle buttons */
.jfx-toggle-button {
     -jfx-toggle-color: #b4ffff;
     -jfx-untoggle-color: #ffbdaf;
     -jfx-toggle-line-color: #4bacb8;
     -jfx-untoggle-line-color: #b55d54;
     -jfx-size: 10px;
}